{extend name='Public:content'/}
{block name='title'}{$title}{/block}
{block name='content'}
<div class="animated fadeIn col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$panel_title}</h3>
            <ul class="panel-controls">
                <label class="label label-info">12</label>
            </ul>
        </div>
        <div class="panel-body">
            <form class="form-inline" action="{:url('admin/test/homePage')}" method="get">
                <div class="form-group">
                    <input class="form-control" value="{present name='get.condition.id'}{$get.condition.id}{/present}" placeholder="ID"type="text" name="condition[id]">
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                       <input class="form-control datepicker" value="{present name='get.s_date'}{$get.s_date}{/present}" placeholder="开始时间" type="text" name="s_date">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <input class="form-control datepicker" value="{present name='get.e_date'}{$get.e_date}{/present}" placeholder="截至时间" type="text" name="e_date">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <select name="condition[type]" class="form-control select">
                        <option {present name='get.condition.type'}{eq name='get.condition.type' value="" }selected{/eq}{/present} value="">all</option>
                        <option {present name='get.condition.type'}{eq name='get.condition.type' value="0" }selected{/eq}{/present} value="0">zeo</option>
                        <option {present name='get.condition.type'}{eq name='get.condition.type' value="1" }selected{/eq}{/present} value="1">one</option>
                    </select>
                    <!--<input class="form-control" value="{present name='get.condition.type'}{$get.condition.type}{/present}" placeholder="类型" type="number" name="condition[type]">-->
                </div>
                <button class="btn btn-success" type="submit">搜索</button>
            </form>
            <br/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>时间</th>
                    <th>类型</th>
                </tr>
                </thead>
                <tbody>
                {volist name='dataArr' id='v'}
                <tr class="del_tr">
                    <td>{$v.id}</td>
                    <td>{$v.c_time|date="Y-m-d H:i:s",###}</td>
                    <td>{$v.type}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
           {$pages}
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
{/block}