<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>AlphaCMS|安装</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="__ADMIN__/css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
    <!--<script src="http://static.geetest.com/static/tools/gt.js"></script>-->
    <script src="//captcha.luosimao.com/static/js/api.js"></script>
    <link rel="stylesheet" href="__ADMIN__/plugins/message_alert/css/m_css.css">
    <script src="__ADMIN__/plugins/message_alert/js/m_js.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/jquery-2.2.4.min.js"></script>
    <script src="__ADMIN__/plugins/ajax-form/ajax-form.js"></script>
    <style>
        .login-container{
            background: url(__UPLOAD__/admin/common/bg.jpg);
            background-size: cover;
        }
        /*  .login-container .login-box .login-logo {
               background-size: 130px;

          }*/
        .login-container .login-box .login-body{
            background: #334163
        }
    </style>
</head>
<body>
{include file='Public:alert'}
<div class="login-container">
    <div class="login-box animated bounceInDown">
        <div  class="login-logo animated bounceIn"></div>
        <div  class="login-body ">
            <div class="login-title animated fadeIn"><strong>欢迎使用</strong>, 准备安装</div>
            <form id="login_in_form" action="{:url('install/Index/install')}" class="form-horizontal" method="post">
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbhost"  value="127.0.0.1" type="text" class="form-control" placeholder="数据库服务器"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbport" value="3306" type="text" class="form-control" placeholder="数据库端口"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbuser" value="root" type="text" class="form-control" placeholder="数据库用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbpw" value="root" type="text" class="form-control" placeholder="数据库密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbname" value="" type="text" class="form-control" placeholder="数据库名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="dbprefix" value="alpha_" type="text" class="form-control" placeholder="数据库表前缀"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button id="embed-submit" class="btn btn-success btn-block">安装</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
            </div>
            <div class="pull-right animated bounceIn">
                &copy;2016-{:date('Y',time())} alphaCMS
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/admin/controller/install.js"></script>
</body>
</html>






